@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* light theme */
    --color-Gray-50: hsl(0, 0%, 98%);
    --color-Purple-300: hsl(234, 39%, 85%);
    --color-Gray-300: hsl(233, 11%, 84%);
    --color-Gray-600: hsl(236, 9%, 61%);
    --color-Navy-850: hsl(235, 19%, 35%);

    /* dark theme */
    --color-navy-950: hsl(235, 21%, 11%);
    --color-navy-900: hsl(235, 24%, 19%);
    --color-Purple-300: hsl(234, 39%, 85%);
    --color-Purple-100: hsl(236, 33%, 92%); /*hover*/
    --color-Purple-600: hsl(235, 16%, 43%);
    --color-Purple-700: hsl(233, 14%, 35%);
    --color-gray-800: hsl(237, 14%, 26%);
    --color-Gray-600: hsl(236, 9%, 61%);

}

@layer base {
    input {
        @apply font-['Josefin_Sans'];
    }
}

@layer {
    body {
        @apply bg-Gray-300 bg-[url("/images/bg-mobile-light.jpg")] bg-contain bg-top bg-no-repeat h-screen
        lg:bg-[url("/images/bg-desktop-light.jpg")] lg:my-18
        dark:bg-[url("/images/bg-mobile-dark.jpg")] 
        dark:lg:bg-[url("/images/bg-desktop-dark.jpg")]
        dark:bg-navy-950
    }

    button {
        @apply cursor-pointer
    }
    
    .create {
        @apply bg-Gray-50 rounded-sm w-full ps-10 h-full text-[13px] font-light text-Navy-850
        focus:outline-none
        placeholder:text-[13px] placeholder:font-light

        dark:bg-gray-800 dark:placeholder:text-gray-500
        dark:text-gray-50
        lg:placeholder:text-lg lg:ps-15 lg:text-[20px] lg:text-Navy-850
    }

    .todo-list {
        @apply bg-Gray-50 rounded-t-sm
        dark:bg-gray-800
    }

    .state {
        @apply flex justify-between px-5 py-2 
        text-gray-600/60 font-semibold text-[13px]
        bg-Gray-50 rounded-b-sm

        dark:text-gray-500 dark:bg-gray-800

        lg:text-[16px] lg:px-10 lg:py-3
    }

    .filter {
        @apply flex items-center justify-evenly bg-Gray-50 text-gray-600/60 
        font-bold text-[13px]
        my-5 py-3 rounded-sm
        lg:text-[16px] lg:py-4 lg:my-10

        dark:bg-gray-800 dark:text-gray-500
    }

    .filter>button {
        @apply hover:text-sky-300
    }

    .checkbox {
        @apply appearance-none size-4 border border-gray-300 rounded-full me-3
        hover:bg-sky-100    
        

        dark:border-gray-600 
        lg:size-6 lg:me-5
    }

    .task {
        @apply text-[13px] lg:text-[16px] text-gray-600 font-medium dark:text-Purple-100 mx-1 w-full
    }

    
}